
.home {

    margin: auto 0;
    // margin-top: 50px;

    // .blockchain-image{
    //     margin: auto;
    //     height:500px;
    //     width: 60vw;
    //     background-color: rgb(255, 255, 255);
    //     display: grid;
    //     justify-items: center;
    //     align-items: center;
    //     border-radius: 40px;
    //     box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .2);
    // }
    .page-header{
        top: 0;
        position: absolute;
        margin-top: 10vh;
        margin-left: 25px;
        transform: translateX(-150px);
        font-size: 32px;
        color: rgb(35, 46, 46);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    .buttons {
        margin: auto 0;
        text-align: center;
        padding-top: 20px;
        .action {
            margin: 0px 16px;
            width: 10%;
            -webkit-box-align: center;
            // align-items: center;
            border: 0px;
            border-radius: 16px;
            box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .2);
            cursor: pointer;
            display: inline-flex;
            font-family: inherit;
            font-size: 16px;
            font-weight: 600;
            -webkit-box-pack: center;
            justify-content: center;
            letter-spacing: 0.03em;
            line-height: 1;
            opacity: 1;
            outline: 0px;
            transition: background-color 0.2s ease 0s;
            height: 48px;
            padding: 12px 24px 6px;
            background-color: rgb(31, 199, 212);
            color: white;
        }
        .action:hover {
            opacity: 0.5;
        }

        .loading{
            background-color: rgb(66, 106, 109);
            color: rgb(156, 156, 156);
            transition: none;
        }
    }

}