<div class="auction-container">

    <div class="sketch-container">
        <div id="sketch-holder">
            <div class="status" *ngIf="loadingStateMessage && loadingStateMessage !==''">{{loadingStateMessage}}</div>
        </div>
    </div>



    <div class="auction-info-container">
        <div class="sell-buy">
            <button class="option buy" *ngIf="isSelling" (click)="changeMode('buy')">Buy</button>
            <button class="option buy-inactive" *ngIf="!isSelling" disabled>Buy</button>

            <button class="option sell-inactive" *ngIf="ownedPixels.length===0 && !fetchingOwnedPixels" disabled>You own 0</button>
            <button class="option sell-inactive" *ngIf="fetchingOwnedPixels" disabled>Loading...</button>
            <button class="option sell" *ngIf="!isSelling && ownedPixels.length!==0" (click)="changeMode('sell')">Sell</button>
            <button class="option sell-inactive" *ngIf="isSelling" disabled>Sell</button>
        </div>

        <div *ngIf="!isSelling">
            <div *ngIf="currentAuction" class="auction-info">
                <div *ngIf="user && currentAuction.ownerAddress === user.account.address.bech32()">You own this auction
                </div>
                <div class="auction-spec">Pixel Id: <div class="auction-val">{{currentAuction.pixelId}}</div></div>
                <div class="auction-spec">Starting Price: <div class="auction-val">{{currentAuction.startingPrice}} XeGLD</div></div>
                <div class="auction-spec">Ending Price: <div class="auction-val">{{currentAuction.endingPrice}} XeGLD</div></div>
                <div class="auction-spec">Current Bid: <div class="auction-val">{{currentAuction.currentBid}} XeGLD</div></div>
                <div class="auction-spec">Deadline: <div class="auction-val">{{currentAuction.deadlineString}}</div></div>
                <div class="auction-spec" *ngIf="currentAuction.currentWinnerAddress">Current Winner: {{currentAuction.currentWinnerAddress}}
                </div>
                <form class="auction-form" (submit)="$event.preventDefault()">
                    <div class="bid-amount-container">
                        <label for="bid-amount">Bid: </label>
                        <input type="text" (keyup)="onKey($event)" [(value)]="bidAmount" placeholder="enter bid amount"
                            required>
                         <button class="bid-button-inactive" *ngIf="currentAuction.ownerAddress === user.account.address.bech32()" disabled>Your Auction</button>

                         <button 
                         *ngIf="user && currentAuction.ownerAddress === user.account.address.bech32()"
                         (click)="createEndTransaction()"
                         class="bid-button-end"
                         >End Auction</button>
                         
                         <button 
                         *ngIf="user && currentAuction.currentWinnerAddress === user.account.address.bech32() && currentAuction.deadline <= timeNow"
                         (click)="createEndTransaction()"
                         class="bid-button-emd"
                         >End Auction</button>

                        <button type="submit" 
                        *ngIf="currentAuction.ownerAddress !== user.account.address.bech32() && currentAuction.deadline >= timeNow" 
                        class="bid-button" 
                        (click)="createAuctionTransaction()">Place Bid</button>
                        <button type = "submit" *ngIf="currentAuction.deadline <= timeNow" class="bid-button" disabled>
                            Past Deadline.
                        </button>
                    </div>
                </form>
            </div>
            <div *ngIf="!currentAuction" class="auction-info">
                Select an active auction.
            </div>
        </div>

        <div *ngIf="isSelling">
            <div *ngIf="sellId" class="auction-info">
                <div>Pixel Id: {{sellId}}</div>
                <form class='sell-form' (submit)="$event.preventDefault()">
                    <label for="starting-price">Starting Price</label>
                    <input type="text" name="starting-price" (keyup)="onKey($event)" [(value)]="startingPrice">
                    
                    <label for="ending-price">Ending Price</label>
                    <input type="text" name="ending-price" (keyup)="onKey($event)" [(value)]="endingPrice">

                    <label for="deadline">Deadline (Hours)</label>
                    <input type="text" name="deadline" (keyup)="onKey($event)" [(value)]="deadlineH">
                    
                    <button type="submit" class="bid-button" (click)="createSellAuctionTransaction()">Place Auction</button>
                </form>
            </div>
        </div>
        <div class="owned-pixel" *ngIf="!fetchingOwnedPixels">
            所有ピクセル数: {{ownedPixels.length}}
        </div>
        <div class="balance" *ngIf="userBalance">
            バランス: {{userBalance}} XeGLD
        </div>
        <div class="owned-pixel" *ngIf="fetchingOwnedPixels">
            所有ピクセル数: loading....
        </div>
        
        <div *ngIf="transactionModalIsVisible">
            <app-transaction-modal 
            (cancelEmitter)="showTransactionModal(false)" 
            (confirmEmitter)="confirmTransaction()"
                [transactionStatus]="loadingStateMessage" 
                [transactionInfo] = "transactionInfo"
                [isTransacting] = "transacting"
                [complete] = "complete"
                [transactionLink] = "transactionLink"
                ></app-transaction-modal>
        </div>
    </div>