<div class="auction-container"> 
    
    <div class="sketch-container">
        <div id="sketch-holder">
            <div class="status" *ngIf="loadingStateMessage && loadingStateMessage !==''">{{loadingStateMessage}}</div>
        </div>
    </div>

    <button (click)="showLoginModal(true)">login</button>
    <div *ngIf="currentAuction" class="auction-info">
        <div *ngIf="user && currentAuction.ownerAddress === user.account.address.bech32()">You own this auction</div>
        <div>Pixel Id: {{currentAuction.pixelId}}</div>
        <div>Starting Price: {{currentAuction.startingPrice}} XeGLD</div>
        <div>Ending Price: {{currentAuction.endingPrice}} XeGLD</div>
        <div>Current Bid: {{currentAuction.currentBid}} XeGLD</div>
        <div>Deadline: {{currentAuction.deadlineString}}</div>
        <div *ngIf="currentAuction.currentWinnerAddress">Current Winner: {{currentAuction.currentWinnerAddress}}</div>
    </div>

    <form class="auction-form" (submit)="$event.preventDefault()">
        <div class="bid-amount-container">
            <label for="bid-amount">Bid: </label>
            <input type="text" (keyup)="onKey($event)" [(value)]="bidAmount" placeholder="enter bid amount" required>
            <button type="submit" class="bid-button" (click)="createAuctionTransaction()">Place Bid</button>
        </div>
    </form>
    <div *ngIf="transactionModalIsVisible">
        <button (click)="confirmTransaction()">
            Send Transaction
        </button>
    </div>

    <div *ngIf="loginModalIsVisible">
        <app-login-modal (cancelEmitter)="showLoginModal(false)" (loginEmitter)="userLoggedIn($event)">
        </app-login-modal>
    </div>
</div>